.slider {
  background-color: red;
  height: 100%;

  &-left-column {
    &-title {
      align-self: start;
      color: white;
    }

    &-description {
      color: white;
    }

    &-button {
      align-self: start;
    }
  }

  &-right-column {
    &-caption-one {
      font-size: 2rem;
      position: absolute;
      bottom: 2rem;
      right: 4rem;
      color: white;
      background-color: $color-shade-dark-gray;
      padding: 1rem 2rem;
      
      span {
        font-weight: 900;
        margin-right: 1rem;
      }
    }

    &-caption-two {
      font-size: 2rem;
      position: absolute;
      bottom: 2rem;
      right: 4rem;
      color: white;
      background-color: $color-shade-dark-gray;
      padding: 1rem 2rem;
      
      span {
        font-weight: 900;
        margin-right: 1rem;
      }
    }
  }
}