.active {
  &-control {
    background-color: white !important;
    border: 0.1rem solid $color-scheme-2 !important;
    color: $color-scheme-2 !important;

    &:hover {
      cursor: auto !important;
      box-shadow: none !important;
    }
  }
}

.submit {
  &-item {
    padding: 1rem 2rem;
    background-color: $color-scheme-3;
    outline: none;
    border: 0.1rem solid $color-scheme-3;
    margin: 1rem 0;
    color: $color-scheme-5;
    font-size: 1.6rem;
    transition: all 0.2s ease-in;

    @media only screen and (max-width: $large) {
      grid-column: 1/-1;
    }

    &:hover {
      cursor: pointer;
      border: 0.1rem solid $color-scheme-4;
      background-color: $color-scheme-4;
      color: $color-scheme-5;
      // box-shadow: 0.2rem 0.3rem 1rem 0.2rem rgba(0, 0, 0, 0.3);
    }
  }
}

.underline {
  text-decoration: underline;
}
