.footer {
  width: 100%;
  background-color: $color-scheme-2;
  color: black;

  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 20rem 0rem 20rem;

    @media only screen and (max-width: $extra-large) {
      padding: 3rem 2rem;
      display: block;
    }
  }

  &-description {
    padding: 0 5rem;
    font-size: 1.4rem;

    @media only screen and (max-width: $extra-large) {
      padding: 5rem 1rem;
    }
  }

  &-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 3rem 25rem;

    @media only screen and (max-width: $extra-large) {
      padding: 3rem 2rem;
    }

    @media only screen and (max-width: $small) {
      padding: 3rem 2rem;
      display: block;
    }

    &-item {
      text-align: center;
      margin-right: 2rem;
      font-size: 1.8rem;
      // font-weight: 400;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: white;
      }
    }
  }
}
