.nav {
  grid-column: 1/-1;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-image: linear-gradient(90deg, $color-scheme-1, $color-scheme-2);
    color: white;

    &:hover {
      background-image: linear-gradient(
        90deg,
        $color-scheme-1,
        $color-scheme-2
      );
    }
  }

  &-logo {
    font-size: 3rem;
    text-decoration: none;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &-menu {
    display: flex;
    align-items: center;

    &-item {
      font-size: 2rem;
      margin-right: 2rem;
      position: relative;
      z-index: 10;

      &:before {
        content: '';
        position: absolute;
        width: 0;
        bottom: -0.5rem;
        left: 0;
        border-bottom: 2px solid $color-scheme-4;
        transition: all 1s;
      }

      &:hover:before {
        width: 100%;
        height: 2rem;
      }

      &:hover {
        cursor: pointer;
      }

      // Display dropdown on hover
      &:hover > ul {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
