.student-profile {
  grid-column: 3/11;
  padding: 2rem;
  height: auto;

  &-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &-record {
    // box-shadow: 0 3rem 6rem rgba(black, 0.1);
    background-color: $color-scheme-4;
    color: white;
    padding: 2rem;
    border-radius: 1rem;

    &-image {
      float: left;
      width: auto;
      padding: 2rem;
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);

      img {
        width: 30rem;
        height: 30rem;
        box-shadow: 0 1rem 1rem rgba(black, 0.4);
        object-fit: cover;
        border-radius: 50%;
        outline: none;
        border: none;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
      }
    }

    &-details {
      h1 {
        padding: 1rem 2rem;
        font-size: 3.6rem;
        font-weight: 200;
      }

      h2 {
        font-size: 2.4rem;
        font-weight: 200;
      }

      &-info {
        padding: 3rem;

        div {
          display: flex;
          align-items: center;
          div {
            margin-left: 1rem;
            font-size: 1.6rem;

            a {
              margin-left: 0.5rem;
              text-decoration: none;
              color: $color-scheme-3;
            }
          }

          svg {
            margin-left: 3rem;
            width: 3rem;
            height: 3rem;
            fill: $color-scheme-5;
          }
        }
      }
    }
  }

  &-toggle {
    margin-top: 10rem;

    &-button {
      clear: both;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      padding: 2rem 0;
      margin-top: 2rem;
      background-color: $color-scheme-1;
      border-radius: 1rem;
      color: $color-scheme-2;
      transition: all 0.5s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:hover > span {
        text-decoration: underline;
      }

      svg {
        margin-left: 3rem;
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-5;
      }

      span {
        margin-left: 3rem;
        font-size: 3.2rem;
        text-transform: capitalize;
        font-weight: 800;
        fill: inherit;
      }
    }

    &-content {
      font-size: 1.6rem;
      padding: 2rem 5rem;
      transition: all 1s;
      animation: fadeIn 0.5s ease-in-out;
    }
  }
}
