.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem 0;
  min-height: max-content;

  @media only screen and (max-width: $large) {
    height: 100%;
  }

  &-control {
    padding: 1rem 2rem;
    background-color: $color-scheme-5;
    font-size: 1.6rem;
    color: $color-scheme-1;
    border-radius: 1rem;
    transition: all 0.5s ease-in;
    width: 100%;
    outline: none;

    &:hover {
      cursor: pointer;
      box-shadow: 0.3rem 0.8rem 2rem 0.4rem rgba(7, 7, 7, 0.2);
    }
  }

  &-left-panel {
    grid-column: 1/6;
    border-right: 0.1rem solid $color-scheme-5;
    padding: 0 5rem 3rem 5rem;
    width: 100%;

    @media only screen and (max-width: $large) {
      grid-column: 1/-1;
    }

    &-title {
      padding: 2rem 0;
      font-size: 2.5rem;
    }

    &-group {
      border: 0.1rem solid $color-scheme-4;
      padding: 2rem;
      border-radius: 1rem;
      width: 100%;
    }
  }

  &-right-panel {
    grid-column: 6/-1;
    padding: 2rem 5rem 3rem 5rem;
    width: 100%;

    @media only screen and (max-width: $large) {
      grid-column: 1/-1;
    }

    &-toggle {
      padding: 1rem 3rem;
      background-color: $color-scheme-5;
      color: $color-scheme-1;
      border: 0.1rem solid $color-scheme-2;
      width: max-content;
      font-size: 1.8rem;
      transition: all 0.5s ease-in;

      &:hover {
        cursor: pointer;
        box-shadow: 0.3rem 0.8rem 2rem 0.4rem rgba(7, 7, 7, 0.2);
      }
    }
  }

  &-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-group-double {
      padding: 1.5rem 0 0 0;
      margin-right: 2rem;

      label {
        display: block;
        font-size: 1.8rem;
        padding: 0.5rem 0;
      }

      input {
        padding: 0.8rem 0;
        width: 100%;
        font-size: 1.4rem;
        text-indent: 1rem;
        border: 0.1rem solid $color-shade-gray;
        transition: all 0.5s;

        &:focus {
          outline: none;
          border: 0.1rem solid $color-scheme-5;
        }
      }
    }

    &-group-single {
      padding: 1.5rem 0 0 0;
      margin-right: 2rem;
      grid-column: 1/-1;

      label {
        display: block;
        font-size: 1.8rem;
        padding: 0.5rem 0;
      }

      input {
        padding: 0.8rem 0;
        width: 100%;
        font-size: 1.4rem;
        text-indent: 1rem;
        border: 0.1rem solid $color-shade-gray;
        transition: all 0.5s;

        &:focus {
          outline: none;
          border: 0.1rem solid $color-scheme-5;
        }
      }

      &-quill {
        color: black !important;
      }
    }
  }
}
