.admin {
  background-image: linear-gradient(40deg, $color-scheme-1, $color-scheme-2);
  height: 100vh;
  display: grid;
  grid-template-columns:
    [full-start] minmax(min-content, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end] minmax(min-content, 1fr) [full-end];
  grid-template-rows: 1fr;

  &-side {
    grid-column: full-start / col-start 6;
    position: relative;
    background-image: radial-gradient(
        ellipse at top,
        var(--color-secondary),
        transparent
      ),
      radial-gradient(ellipse at bottom, var(--color-primary), transparent);

    &-background {
      position: absolute;
      box-sizing: content-box;
      background-position: 40% 0%;
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: fill;
    }
  }

  &-form {
    grid-column: col-start 6 / full-end;
    height: 100%;
    padding: 5rem 8rem 8rem 5rem;
    background-color: white;
    color: var(--color-dark-contrast);

    &-heading {
      font-size: 5rem;
      padding: 1rem 0;
      font-weight: 900;
      color: var(--color-primary);
    }

    &-subheading {
      width: 70%;
      font-size: 1.6rem;
      padding: 1rem 0;
      font-weight: 500;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 25%;
        border-bottom: 0.1rem solid black;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 15%;
        width: 25%;
        border-bottom: 0.1rem solid black;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: 100%;
    }

    &-group {
      label {
        display: block;
        background-color: transparent;
        font-size: 2rem;
        font-weight: 300;
        padding: 1.5rem 0 0.5rem 0;
        margin: 1rem 0;
      }

      input {
        width: 100%;
        padding: 1rem 0.5rem;
        transition: all 0.2s ease-in-out;
        font-size: 1.8rem;
        text-indent: 1rem;
        border: 0.1rem solid #dfdfdf;
        outline: none;

        &:focus {
          outline: none;
          border: 0.1rem solid $color-scheme-1;
          text-indent: 1rem;
        }
      }

      &-password {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          display: block;
          background-color: transparent;
          font-size: 2rem;
          font-weight: 300;
          padding: 0.5rem 0;
          margin: 1rem 0;
        }

        span {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          font-size: 1.6rem;
          cursor: pointer;
          animation-name: slide;
          animation-duration: 0.5s;

          svg {
            width: 2rem;
            height: 2rem;
            fill: $color-scheme-1;
            margin-right: 2rem;
          }
        }
      }

      &-validation-username {
        ul {
          list-style: none;
          font-size: 1.6rem;
          padding: 0.5rem 0 0 0;
        }

        ul li::before {
          content: '\2022';
          color: $color-scheme-1;
          font-weight: bold;
          display: inline-block;
          width: 1rem;
          margin-left: 0.5rem;
        }
      }

      &-validation-password {
        ul {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          font-size: 1.6rem;
          padding: 1rem 0;
        }

        ul li::before {
          content: '\2022';
          color: $color-scheme-1;
          font-weight: bold;
          display: inline-block;
          width: 1rem;
          margin-left: 0.5rem;
        }
      }
    }

    &-button {
      background-color: $color-scheme-2;
      padding: 1rem 4rem;
      font-size: 1.8rem;
      margin-top: 2rem;
      color: white;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: $color-scheme-2;
      }
    }
  }
}
