// Colors
// $color-scheme-1: #3c91e6;
// $color-scheme-2: #342e37;
// $color-scheme-3: #a2d729;
// $color-scheme-4: #fafffd;
// $color-scheme-5: #fa824c;
$color-scheme-2: #c5cbe3;
$color-scheme-1: #4056a1;
$color-scheme-3: #f13c20;
$color-scheme-4: #342e37;
$color-scheme-5: #d79922;

//Shades
$color-shade-gray: rgb(161, 161, 161);
$color-shade-light-gray: #e5e5e5;
$color-shade-dark-gray: #4b4f4d;
$color-shade-scheme-1: rgba(60, 145, 230, 0.3);

// Breakpoints
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Helvetica';
  font-weight: 200 !important;
  font-style: normal;
  color: black;
  line-height: 1.6;
}

svg { 
  height: 100%;
  width: 100%;
}