// Colors
// $color-scheme-1: #4056a1;
// $color-scheme-2: #c5cbe3;
// $color-scheme-3: #f13c20;
// $color-scheme-4: #342e37;
// $color-scheme-5: #d79922;
$color-scheme-5: rgb(255, 255, 255);
$color-scheme-4: rgb(251, 210, 104);
$color-scheme-3: rgb(240, 174, 33);
$color-scheme-2: rgb(0, 183, 236);
$color-scheme-1: rgb(28, 28, 27);

//Shades
$color-shade-gray: rgb(161, 161, 161);
$color-shade-light-gray: #e5e5e5;
$color-shade-dark-gray: #4b4f4d;
$color-shade-scheme-1: rgba(60, 145, 230, 0.3);

// CONTRAST
$dark-contrast: white;

// Breakpoints
$wide: 1450px;
$extra-large: 1250px;
$large: 992px;
$medium: 768px;
$small: 600px;
$extra-small: 400px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-scheme-2;
  }
}

body {
  font-family: 'Helvetica';
  font-weight: 200 !important;
  font-style: normal;
  color: black;
  line-height: 1.6;
}

svg {
  height: 100%;
  width: 100%;
}
