.account-student {
  width: 100%;
  min-height: 60rem;
  padding: 8rem;

  @media only screen and (max-width: $medium) {
    padding: 8rem 2rem;
  }

  &-breadcrumbs {
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      font-size: 1.8rem;

      span {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-scheme-1;
      }

      div {
        color: $color-scheme-2;
      }
    }
  }

  &-dashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 1rem;

    @media only screen and (max-width: $medium) {
      justify-content: center;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 18rem;
      height: 15rem;
      border-radius: 1.2rem;
      font-size: 1.8rem;
      font-weight: 300;
      margin-right: 5rem;
      background-color: $color-scheme-2;
      color: white;
      flex-wrap: wrap;
      text-align: center;
      box-shadow: 0.2rem 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
      transition: all 0.5s;

      @media only screen and (max-width: $medium) {
        margin-bottom: 2rem;
      }

      svg {
        width: 4rem;
        height: 4rem;
        margin: 1rem;
        fill: white;
      }

      &:hover {
        cursor: pointer;
        background-color: $color-scheme-1;
      }
    }
  }

  &-title {
    font-size: 3.2rem;
    font-weight: 400;
  }

  &-profile {
    display: flex;
    margin: 2rem 0;

    @media only screen and (max-width: $large) {
      display: block;
    }

    &-left {
      width: 50%;
      height: max-content;
      padding: 5rem 0;
      border: 0.1rem solid $color-light-gray;
      border-radius: 1.2rem;

      @media only screen and (max-width: $large) {
        width: 100%;
        border: none;
      }

      &-image {
        display: flex;
        align-items: center;
        flex-direction: column;

        svg {
          width: 60%;
          fill: $color-background-1;

          @media only screen and (max-width: $large) {
            width: min-content;
          }
        }

        img {
          object-fit: cover;
          width: 16rem;
          height: 16rem;
          border-radius: 50%;
          margin: 0 0 1rem 0;
        }

        a {
          font-size: 1.4rem;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }

      input {
        display: none;
      }
    }

    &-right {
      width: 100%;
      padding: 0rem 0 0 5rem;

      &-image {
        display: flex;
        align-items: center;

        svg {
          width: 10rem;
          height: 10rem;
          fill: $color-background-1;

          @media only screen and (max-width: $large) {
            width: min-content;
          }
        }

        img {
          object-fit: cover;
          width: 16rem;
          height: 16rem;
          border-radius: 50%;
          margin: 0 1rem 1rem 0;
        }

        a {
          font-size: 1.4rem;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }

        &-input {
          display: none;
        }
      }

      &-title {
        font-size: 3.2rem;
        font-weight: 700;
      }
    }
  }
}
